[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "minorparties"]
	path = minorparties
	url = https://github.com/gerckentheodore/minorparties
